/*
Colors used:
  Color 1:  white   rgb(255,255,255)
  Color 2:  grey    rgb(225,225,225)
  Color 3:  PRIMARY teal    rgb(25,133,161)
  Color 4:  SECONDARY yellow  rgb(255,212,0)
  Color 5:  black   rgb(0,0,0)
*/

* {
  box-sizing: border-box;
}

body{
  background-color: rgb(255,255,255);
  font-family: 'Rubik', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

img {
  width: 100%;
}

header{
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;

  /* Shadow */
position: fixed;

  -webkit-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.68);
  -moz-box-shadow:    0px 2px 7px 0px rgba(50, 50, 50, 0.68);
  box-shadow:         0px 2px 7px 0px rgba(50, 50, 50, 0.68);

}



main{
  padding-top: 159px;
}
footer{

}


/*TYPOGRAPHY*/
h1, h2, h3, h4 {
  line-height: 1.4;
}

h1{
  font-family: 'Khula', sans-serif;
  font-size: 2.75em;
  font-weight: 800;
}

h2{
  font-family: 'Noto Serif', serif;
  font-size: 2.25em;
  font-weight: 600;
}

h3{
  font-family: 'Khula', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

h4{
  font-family: 'Khula', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

.quotes{
  font-weight: 600;
    font-size: 1.5em;
}

.makeUppercase {
	text-transform: uppercase;
}

.makeBold {
  font-weight:bold;
}





  /* Hyperlinks */
  a {
  color: rgb(25,133,161);
  text-decoration: none; /* No underlining */
  }
  a:visited { /* visited link */
    color: #16748B;
  }
  /* a:hover must come after a:visited in the CSS definition in order to be effective! */
  a:hover {
    color: rgb(0F5363);
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  /* a:active must come after a:hover in the CSS definition in order to work */
  a:active { /* selected link */
    color: #4FC6E3;
  }
    /* Accessibility for Users who visit the page with a keyboard */
    /a:hover,
    a:focus {
      color: #cc6540;
      text-decoration: underline;
    }

    /* Buttons SHOULD BE NEAR THE END OF STYLE SHEET*/
    .button {
        display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
        background-color: rgb(25,133,161);
        color: #ffffff; /* needed to override the default link color */
        font-weight: 400;
        padding: 10px;
        border-radius: 5px;
        border-right: 2px solid #FFFFFF;
        border-bottom: 2px solid #FFFFFF; /* width of the border, type, color */
        transition: 0.2s opacity;
      }
      .button:hover{
        opacity: 0.8;
        text-decoration: none;
        border-bottom: solid #FFD400;
        border-right: solid #FFD400;
      }
      .button:active{
        opacity: 0.8;
        text-decoration: none;
        border-bottom: solid #FFD400;
        border-right: olid #FFD400;
      }
      .button:visited{
        color: #ffffff;
      }
      .button.secondary{
        background-color: transparent;
        text-decoration-color: rgb(25,133,161);
        border: 1px solid rgb(25,133,161);

        padding: 10px;
        border-radius: 5px;
      }
      .button.secondary:visited{
        color: rgb(25,133,161);
      }
      .button.secondary:hover{
        background-color: rgb(25,133,161);
        color: #ffffff;
      }
      .button:active{
        background-color: rgb(25,133,161);
        color: #ffffff;
      }

/* LAYOUT styling */

.container{
  padding: 0 15px;
}

.row{
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.portfolioelement{
  padding-bottom: 25px;
  border-bottom: 2px solid #FFD400;
}

#hero h1 {
  text-align: center; /* Centers text */
}

#hero{
  padding: 20px 0; /* add some space (padding) to the top and bottom of your hero section to give its content some space */
  display: inline-block;
  width: 100%
}

.logo {
  max-width: 250px;
}

nav{
    list-style-type: none;
    display: inline-block;
    width:100%;
}
  nav > ul{
      padding:0px;
  }
    nav > ul > li{
      display: inline-block;
    }
      nav > ul > li > a{
        padding: 0 15px;
        text-transform: uppercase;
        font-weight: 700;
      }
        nav > ul > li > a:hover{
          text-decoration: underline;
        }

        nav > ul > li.active-link > a{

        }
